.app-header {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
  }
h1 {
    font-weight: 600;
    color: #2772db;
}
h3, h4 {
    font-weight: 500;
    background-color:#070f4e ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 